@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container h1{
    font-weight: bold;
    font-size: 3rem;
}

.container{
    border: 2px solid grey;
    padding: 10px 20px;
    background-color: honeydew;
    border-radius: 10px;
}

#random-btn{
    padding: 10px 5px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
#random-btn:hover{
    background-color:honeydew;
}
#random-quotes{
    text-align: center;
    font-family: 'cursive';
}

#author{
    text-align: end;
}